<div class="container">
  <h1>商品一覧</h1>
  <div class="row">
    <div class="col-md-9">
      <div class="card mb-3" style="max-width: 36rem;">
        <%= render @products %>
      </div>
    </div>
  </div>
</div>
