.float_box ul, .float_box li, .floatbox p {
  margin:0;
  padding: 0;
}
.float_box {
  overflow: hidden;
  ul {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  li {
    float:left;
    width: 25%;
    list-style: none;
    margin-bottom: 30px
  }
  .image {
    max-width: 100%;
    display: block;
    margin: 0 auto 5px;
  }
  a {
    color: #000;
    text-decoration: none;
    display: block;
    margin-right: 30px;
  }
  .price {
    font-weight: bold;
  }
  .name {
    margin-bottom: .75rem;
    font-size: 18px;
  }
  h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
  }
}

/* products index */
.product-all{
  text-align: center;
}
.card {
  border: 1px solid #000;
  margin-bottom: 50px;
  margin-right: -50px;
  position: relative;
  p {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    top: 71%;
    left: 5%;
    }
  }

/* product show */
.product-detail {
  text-align: center;
    .product-image {
      width: 600px;
      height: 300px;
    }
    .detail {
      text-align: left;
      width: 550px;
      margin: 50px 100px 0 280px;
      padding: 20px;
      border: 1px solid #000;
    }
    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a:link {
      color: #FFF;
    }
    .carton {
      padding: 15px 250px;
      margin: 40px;
      font-size: 18px;
    }
}
table {
  margin-top: 35px;
}
td,th {
  border: 1px solid rgb(190, 190, 190);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.navbar {
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link {
  font-size: 1.1em !important;
}
