<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="<%= product.image %>" alt="<%= product.name %>">
  <div class="card-body">
    <p class="card-text"><%= product.name %></p>
    <p class="card-text"><%= product.price %></p>
  </div>
</div>